/* fonts */
$mainFontFamily: NotoSansArmenianW,"Noto Sans Armenian",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,sans-serif;
$codeFontFamily: "Lucida Console",Liberation Mono,Monaco,monospace;
$monoFont: $mainFontFamily;

/* colors: light */
$colorLinkDark: #121212;
$colorLinkLight: #3d61bb;
$colorLinkWhite: #ffffff;
$colorBorder: #cccccc;
$colorCodeBg: #f8f8f8;
$colorAboutBg: #eeeeee;
$colorFooterBg: #ffffcc;
$colorTitle: #263238;
$colorArticle: #354545;
$colorCaption: #666666;
$colorPageBg: #ffffff;
$colorHeadBg: #ffffff;

/* fonts */
@font-face {
  font-family: NotoSansArmenianW;
  src: url('/fonts/NotoSansArmenian-Regular.woff2') format('woff2');
}

/* titles */
.title, h1, h2, h3, h4, h5, h6 {
    font-family: $mainFontFamily;
    font-weight: 700;
    line-height: 1.2;
    color: $colorTitle;
    padding: 0 20px 0 20px;
}

.surtitle {
    text-decoration: underline;
}

/* links */
a {
    color: $colorLinkLight;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-family: $monoFont;
    font-size: .875rem;
//    background: $colorHeadBg;
//    border-bottom: 1px solid $colorBorder;

    ul, ol {
        margin: 0;
        padding: 0;
        list-style: none
    }

    nav {
        padding: 0;
    }

    a {
        color: $colorLinkDark;
        line-height: 1.75rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .hostname {
        background-color: $colorAboutBg;
        color: $colorLinkDark;
    }
    .toplink{
        color: $colorLinkDark;
    }
    .rss {
        color: $colorLinkDark;
    }
}

/* footer */
footer {
    font-size: .750rem;
    font-family: $monoFont;
    font-weight: 600;
//    border-top: 1px solid $colorBorder;
    padding: 1.5rem;
//    background-color: $colorFooterBg;
    text-align: center;

    a {
        text-decoration: none;
    }
}

/* Code Boxes */
pre {
    border-top: 1px dashed $colorBorder;
    border-bottom: 1px dashed $colorBorder;
    background: $colorCodeBg;
    padding: 1em;
    overflow-x: auto;
  
    code {
        background: none;
    }
}

code {
    background: $colorCodeBg;
    font-family: $codeFontFamily;
    font-size: 90%;
    padding: 3px;
}

blockquote {
    background: $colorCodeBg;
    border-left: 5px solid $colorBorder;
    padding: 3px 1em 3px;
}

/* objects */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.allow-margin {
    margin: 5px;
}

hr {
    border: 0px;
    border-top: 1px solid $colorBorder;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* tables */
table {
    width: 100%;
    border-top: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;
    background-color: $colorHeadBg;

    thead th { 
        border-bottom: 1px solid $colorBorder; 
    }
}

th, td {
    padding: 5px;
}

/* images */
img {
    display: block;
}

figure {
    margin: auto;
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        border: 1px solid $colorBorder;
        @media (max-width: 600px) {
            border: 0px;
        }
    }
}

figure.cover {
    border: 1px solid $colorBorder;
    @media (max-width: 600px) {
        margin-bottom: 25px;
        float: none;
        width: 100%;
        border: 0px;
    }
}

figcaption {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 75%;
    color: $colorCaption;
    margin-bottom: 25px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: $mainFontFamily;
    line-height: 2;
    color: $colorArticle;
    word-wrap: break-word;
    font-size: 1.25rem;
    letter-spacing: 0.025rem;
//    background-color: $colorPageBg;
//    border: 1px solid $colorBorder;
    background-image: url("/images/paper_texture.jpg");
    @media (max-width: 600px) {
        font-size: 1.125rem;
        letter-spacing: normal;
        line-height: 1.5;
    }
}

p {
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@counter-style thumbs {
  system: cyclic;
  symbols: "\1F44D";
  suffix: " ";
}

ul {
    list-style-type: disclosure-closed;
    margin: 20px;
}

/* article information */
.article-meta {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.menu {
    li {
        display: inline-block;
    }
    a {
        @extend .article-meta;
    }
    text-align: center;
}

.terms {
    font-size: .9em;
}

div.message {
    text-decoration: none;
//    color: $colorPageBg;
    background-color: $colorFooterBg;
    border-radius: 6px;
    padding: 5px 10px;
    border: 1px solid #ffdd00;
}

.date {
    color: $colorCaption;
    font-size: 1.1rem;
    font-weight: 400;
}

.author {
    padding: 15px;
    font-size: 1.2rem;
    text-align: right;
    font-style: italic;
}

.refindex {
    display: table-cell;
}

ul.menulist {
    list-style-type: disclosure-closed;
    li {
        padding: 6px;
    }
}

span.asterism {
    text-align: center;
    display: block;
    padding: 25px 0 25px 0;
    font-size: 1.5rem;

/*    
    &:after {
        content: "â‚";
    }
*/
}

div.endarticle {
    text-align: left;
    margin: 25px;
    padding: 25px;
    font-style: italic;
    font-size: 1.1rem;
}

/* social share */
.social-share {
    float: right;
}

.social-share ul {
	margin: 2;
}
 
.social-share ul li p {
	display: none;
}
 
.social-share .share-icons li {
	padding: 1 !important;
}
 
ul.share-icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.share-icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.share-icons li:last-child {
	padding-right: 0;
}

ul.share-icons li > * {
	text-decoration: none;
	border: 0;
}

