{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

<main>
{{ .Content }}

<ul class="menulist">
  {{ $book := "" }}
  {{ range (where .Site.RegularPages.Reverse "Section" "==" "post") }}
  {{ if ne ($book) (.Params.book) }}
</ul>
<h3>{{ .Params.book }}</h3>
<ul class="menulist">
  {{ end }}
  {{ $book = .Params.book }}
  <li>
    <a class="refindex" href="{{ .RelPermalink }}">
      {{ if .Params.surtitle }}
      {{ .Params.surtitle }} -
      {{ end }}
      {{ .Title }}
    </a>
  </li>
  {{ end }}
</ul>

</main>

{{ partial "footer_custom.html" . }}

