{{ partial "header.html" . }}

<a href="/"><img class='pull-right' alt='Բովանդակութիւն' width='90px' src='/images/contents.svg' /></a>

<div class="article-meta">

{{ if .Params.book }}
<h5>«{{ .Params.book }}»</h5>
{{ end }}

{{ if .Params.surtitle }}
<h2 class="surtitle">{{ .Params.surtitle }}</h2>
{{ end }}

<h1 class="title">{{ .Title }}</h1>
{{ partial "socialshare.html" . }}
<p class="author"></p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ .Content }}
</main>

<a href="/"><img class='pull-right' alt='Բովանդակութիւն' width='90px' src='/images/contents.svg' /></a>

<div class="endarticle">{{ .Params.author }}</div>

{{ partial "footer.html" . }}
