<header>

  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      <li class="pull-left hostname {{ if .IsHome }}current{{ end }}">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title}}</a>
      </li>
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li class="pull-left indexinfo {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
        <a href="{{ .URL }}">{{ lower .Name }}</a>
      </li>
      {{end}}

      {{ $count := len .Site.Menus.feed }}
      {{ $count := sub $count 1 }}
      {{ range $index, $page := .Site.Menus.feed }}
        {{ $name := lower .Name}}
        <li class="pull-right {{ if eq $index 0 }}rss{{ else }}toplink{{ end }}">
          <a href="{{ .URL }}">{{ $name }}</a>
        </li>
        {{ if gt $count $index }}
        <li class="pull-right">·</li>
        {{ end }}
      {{end}}

    </ul>
  </nav>
</header>
